<aside class="sidebar">

  <h2>SidaKangen</h2>

  <ul>

    <li class="active">
      <a href="index.html">Beranda</a>
    </li>

    <li>
      <a href="profil-desa.html">Profil Desa</a>
    </li>

    <li>
      <a href="statistik.html">Statistik</a>
    </li>

    <li>
      <a href="pemerintahan.html">Pemerintahan</a>
    </li>

    <li>
      <a href="layanan.html">Layanan</a>
    </li>

    <li>
      <a href="berita.html">Berita</a>
    </li>

    <li>
      <a href="galeri.html">Galeri</a>
    </li>

    <li>
      <a href="potensi.html">Potensi</a>
    </li>

    <li>
      <a href="kontak.html">Kontak</a>
    </li>

  </ul>

</aside>